html{
  color: #3c3838;
  background-color: white;
  font-family: "monaco",monospace;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-size: 2vw;
    z-index: 2;
    font-family: "monaco",monospace;
  }

  .row{
    display: flex;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
.col-6 {width: 50%;}
  
  .menu li,ul{
    background-color: #75aae7;
  }
  .menu ul {
    list-style-type: none;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
   background-color: #508bcf;
   color: #524e4e;
  }

  a{
    color: #3c3838;
    text-decoration: none;
  }
  #logo
  {
    width: 9vw;
    margin: 1vw;
    height: auto;
    padding-top: 1vw;
  }

  .container-nav{
    /* POSITION */
    position: fixed;
    top: 0%;
    left: 0%;

    /* LIVELLO */
    z-index: 10;

    /* DIMENSIONI  */
    width: 100%;
    height: 25%;

    /* COLORI  */
    background-color: #e08d3a;
}
.titolo{
  display: inline-block;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 4vw;
  padding-left: 20vw;
  position: relative;
  top:50%;
  transform:translate(0,-50%);
}

.contatti {
  flex: 0 1 auto;
  
}
h1,p{
  padding-left: 5px;
}

/**/


@media only screen and (max-width: 600px)
{
  .container-nav{
    height: 12%;
  }
  .titolo{
    padding-left: 15vw;
  }
}

@media only screen and (max-width: 400px)
{
  .container-nav{
    height: 8%;
  }
    .titolo
    {
      padding-left: 15vw;
    }
  
}

/**/

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
}

::-webkit-scrollbar-thumb {
  background: #e48628; 
}

::-webkit-scrollbar-thumb:hover {
  background: #df7f1f; 
}
::-webkit-scrollbar-track-piece{
  background-color:transparent
}

/**/
.testo{
  opacity: 0;
  animation-delay: 825ms;
  position: static;
}
.tele
{
  opacity: 0;
  animation-delay: 825ms;
  animation: muoviteleport 825ms ease-in-out forwards; 
}


.banner{
  opacity: 0;
  width:100%;
  height: auto;
  animation-delay: 825ms;
  padding:2vw;
}

.active{
  animation: muovitesto 825ms ease-in-out forwards; 
}
/*.activeTele{
  animation: muoviteleport 825ms ease-in-out forwards; 
}*/
.activeBan{
  animation: zoom 850ms ease-in-out forwards; 
  opacity: 1;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: translate(0,-5vw);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 0;
}
.activeFade{
  animation: zoom 850ms ease-in-out forwards; 
}

@-webkit-keyframes fade {
  from {opacity: .3}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*
.remove{
  animation: muovitestoR 825ms ease-in-out forwards; 
}
*/
@keyframes muovitesto {
  0% {opacity: 0; transform: translateX(3vw);}
  100% {opacity: 1;transform: translateX(0);}
}
/*
@keyframes muovitestoR {
  100% {opacity: 0;transform: translateX(3vw);}
  0% {opacity: 1;transform: translateX(0);}
}
*/
@keyframes muoviteleport {
  0% {opacity: 0; transform: translateX(0);}
  100% {opacity: 1;transform: translateX(37.5%);}
}
@keyframes zoom {
  0%   {opacity:0;}
  100% {opacity:1;}
}


.logomin{
  width: 5vw;
  height: auto; 
  transform: translate(-1vw,1vw);
}

#lang-switch{
  position: relative;
  transform:translate(10vw,-100%);
  background-color:transparent;
  border-color: transparent;
  color: #3c3838;
}

.textimg{
  color: #f2f2f2;
  transform: translate(30%,-5vw);
}